@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-maroon-50 text-maroon-950 antialiased;
    font-family: 'Times New Roman', Times, serif;
  }
}
